.colSideBar{
    height: 100vh;
    border-right: 1px solid black;
}

.topMargin{
    padding-top: 55px;
}

.title{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    color: #212529;
}

.cardTitle{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: bold;
    color: #3F3F3F;
    margin-bottom: 0px;
}

.carddetails{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    color: #3F3F3F !important;
}

.card{
    height: 100px;
    width: 420px;
    margin-bottom: 5px;
    padding: 0 5px 0 15px;
    margin-left: 290px;
}

.disableButton{
    text-decoration: none;
    background-color: white !important;
    border: none;
    color: #E8E8E8 !important;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins';
}

.previous{
    float: left;
    margin-left: 325px;
}

.next{
    float: left;
}

.enableButton{
    background-color: white !important;
    border: none;
    color: #E8E8E8 !important;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins';
}

.enableButtonLink{
    text-decoration: none;
}

.progressBar{
    padding: 2px;
    border-radius: 20px;
    float: left;
    width: 150px;
    margin-top: 10px;
}

.prevNextDiv{
    margin-top: 20px;
}

.rightHeading{
    font-family: 'Poppins';
    font-size: 14px;
    color: #3F3F3F;
    text-align: center;
}