.colSideBar{
    height: 100vh;
    border-right: 2px solid #ECECEC;
}

.navContainer{
    border-bottom: 2px solid #ECECEC;
}

.nav{
    float: left;
    text-align: center;
}

.navTitle{
    /* display: flex; */
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    color: #212529;
    bottom: 20px;
    padding-left: 50px;
}

.navLink{
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: bold;
    color: #13A2E2;
    margin-bottom: 5px;
}

.navLink:hover{
    text-decoration: none;
    color: #13A2E2;
}

.navIcon{
    margin-right: 5px;
    margin-bottom: 5px;
}

.topMargin{
    padding-top: 55px;
}

.title{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    color: #212529;
}

.cardTitle{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: bold;
    color: #3F3F3F;
    margin-bottom: 0px;
}

.carddetails{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    color: #3F3F3F !important;
}

.card{
    height: 100px;
    width: 420px;
    margin-bottom: 5px;
    padding: 0 5px 0 15px;
    margin-left: 290px;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}

.disableButton{
    text-decoration: none;
    background-color: white !important;
    border: none;
    color: #E8E8E8 !important;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins';
}

.previous{
    float: left;
    margin-left: 325px;
}

.next{
    float: left;
}

.enableButton{
    background-color: white !important;
    border: none;
    color: #E8E8E8 !important;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins';
}

.enableButtonLink{
    text-decoration: none;
}

.progressBar{
    padding: 3px;
    border-radius: 5px !important;
    float: left;
    width: 150px;
    margin-top: 10px;
}

.prevNextDiv{
    margin-top: 20px;
}

.prevNextDetails{
    position: absolute;
    bottom: 55px;
    text-align: center;
}

.rightHeading{
    font-family: 'Poppins';
    font-size: 14px;
    color: #3F3F3F;
    text-align: center;
}

.detailsDiv{
    margin-top: 25px;
    margin-bottom: 50px;
}

.detailsCard{
    height: 275px;
    width: 380px;
    margin-left: 50px !important;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}

.detailsCardTitle{
    font-family: 'Poppins';
    font-size: 16px;
    color: #13A2E2;
    font-weight: 300;
    margin-top: 25px;
}

.detailsPrice{
    font-family: 'Poppins';
    font-size: 20px;
    color: #212529;
    font-weight: bold;
    margin-top: 25px;
}

.detailsCardDetail{
    font-family: 'Poppins';
    font-size: 16px;
    color: #3F3F3F;
    font-weight: 300;
    margin-bottom: 25px;
    margin-top: 15px;
}

.detailsButton{
    position: absolute;
    bottom: 55px;
    margin-left: -120px !important;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins';
    background-color: #13A2E2;
    color: #FFFFFF;
    border: none;
    border-radius: 0;
}

.detailsButton:hover{
    background-color: #13A2E2;
    color: #FFFFFF;
}

.detailsOptionButton{
    background-color: #FFFFFF;
    height: 35px;
    width: 65px;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins';
    color: #3F3F3F !important;
    border-radius: 0px;
    margin-right: 5px;
    padding: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
    border: none;
}

.detailsOptionButton:hover{
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
    padding: 5px;
}